<div class="container">
  <p class="heading">Project Details</p>

  <!-- Inner Container -->
  <div class="detailsContainer">

    <!-- Project Details Section -->
    <div class="projectDetailSection">
      <p class="projectName"><%- project.projectName %></p>
      <p class="projectDesc"><%- project.description %></p>
      <div class="createIssueAndAuthor">
        <p class="projectAuthor">
          Author: <span class="name"><%- project.authorName %></span>
        </p>
        <div class="tooltip tooltipCIProjectDetails"><p>Create Issue</p></div>
      </div>
      <div style="margin:3rem auto; display:flex;justify-content: center;">
        <a class="pdCreateIssueLink" href="../create_issue/<%- project.id %>">
          Create New Issue
        </a>
      </div>
    </div>

    <!-- Functionality Section (Search and Filter) -->
    <div class="functionality" id="functionality" >
      <div class="btnSection">

        <!-- Filter by Label -->
        <div id="filterSection" class="filterSection">
          <div class="head">Filter:</div>
          <div style="display: flex; align-items: center">
            <input type="checkbox" id="bug" value="Bug" />
            <label for="bug" class="labelCheckbox">Bug</label>
            <input type="checkbox" id="typeError" value="Type Error" />
            <label for="typeError" class="labelCheckbox">Type Error</label>
            <input type="checkbox" id="syntaxError" value="Syntax Error" />
            <label for="syntaxError" class="labelCheckbox">Syntax Error</label>
            <input type="checkbox" id="lineMissing" value="Line Missing" />
            <label for="lineMissing" class="labelCheckbox">Line Missing</label>
            <button class="filterButton" id="filterButton">Filter</button>
          </div>
        </div>
        <!-- Filter By Author -->
        <div id="filterSectionByAuthor" class="filterSection">
          <div class="head">Filter (Author):</div>
          <div id="authorsList" style="display: flex; align-items: center">
            <!-- Rendering the list of issues based on the length of array -->
            <% if(project.issues.length > 0 ){ %>
              <select name="" id="label" style="width:135px;">
                <!-- Making a loop over each issue -->
              <% project.issues.forEach((issue)=>{ %>
                  <option class="option" value="<%- issue.issueAuthor%>"><%- issue.issueAuthor%></option>
                <% }) %> 
              </select>
            <% } else{ %>  
              <select name="" id="">
                <option value="create issue">Create Issue</option>
              </select>
           <% } %>
            <button class="filterButton" id="filterButtonByAuthor">Filter</button>
          </div>
        </div>

        <!-- Search Section -->
        <div id="searchSection" class="searchSection">
          <div class="head">Search:</div>
          <div>
            <input id="searchBar" class="searchBar" type="text" placeholder="Search..." />
            <button class="searchButton"id="searchButton">Search</button>
          </div>
        </div>
      </div>
      <hr style="margin:.5rem 0;">

      <!-- Bug Section -->
      <div class="bugSection" id="bugSection">
        <% if(project.issues.length > 0 ){ %>
          <!-- Rendering bugs based on search result -->
            <% project.issues.forEach((issue)=>{ %>

                <div class="bug">
                    <p class="title">Title: <span class="name"><%- issue.title %></span></p>
                    <p class="description">Description: <%- issue.description %></p>
                    <p class="label">Label: <%- issue.label %></p>
                    <p class="author">Author: <%- issue.issueAuthor %></p>
                   </div>
              <% }) %> 
          <% } else{ %>  
            <h1 class="noIssueFound">No Issues Found</h1>
         <% } %>
        
       
      </div>
    </div>
  </div>
</div>
<!-- To grab data in js file -->
<input type="hidden" id="dataFromServer" value="<%= JSON.stringify(project) %>">

<!-- Js File -->
<script src="/js/projectDetails.js"></script>